# === Java / Spring Boot ===
target/
*.jar
*.war
*.ear

# === Maven ===
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

src/main/resources

# === Logs ===
*.log
logs/
*.out

# === Temporary Files ===
*.tmp
*.swp
*.swo
*.bak

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
out/

# === VS Code ===
.vscode/

# === Eclipse ===
.project
.classpath
.settings/
bin/

# === macOS / Windows ===
.DS_Store
Thumbs.db

# === Environment Files (Secrets) ===
.env
*.env
application-*.yml
application-*.properties
#Root folder
src/main/resources/keys/private.pem
src/main/resources/keys/private_pkcs8.pem
src/main/resources/keys/public.pem
# user files
user/src/main/resources/application.yaml
user/keys/
#Gateway
Gateway/src/main/resources/application.yaml


# === Docker ===
/docker-data/
/*.pid

# === Node (if frontend lives here too) ===
node_modules/
dist/
build/

# === Others ===
*.zip
*.tar
*.gz
